.back1 {
  background-image: url("../assets/03.jpg");
  background-size: cover;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
label {
  color: rgba(12, 7, 15, 0.699);
  font-size: 30px;
  font-weight: 800;
  box-shadow: 3px 5px 5px 5px;
  margin-top: 5px;
}
.changeinput {
  width: 30vw;
  height: 2vw;
  background-color: rgba(49, 42, 42, 0.753);
  border: none;
  color: beige;
  margin-top: 7px;
  outline: none;
}
.changeinput::placeholder {
  color: beige;
}

.submit-btn {
  margin-top: 15px;
  padding: 10px;
  width: 100px;
  font-weight: 700;
  color: orange;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 30px;
  border: none;
  font-size: medium;
  cursor: pointer;
}
